.page-header {
    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $desktop-width) {
        // grid-template-columns: 120px auto;
    }
}

.page-header__wrapper {
    position: relative;
    height: 70px;
    border-bottom: 1px solid $border;
    background: $background-dark;

    @media (min-width: $tablet-width) {
        grid-column: 1 / -1;
        display: flex;
        height: 109px;
        align-items: center;
    }

    @media (min-width: $desktop-width) {
        grid-column: 1/2;
        border: none;
    }
}

.page-header__logo {
    display: block;
    padding: 20px;
}

.page-header__toggle {
    @media (min-width: $desktop-width) {
        display: none;
    }
}

.page-header__toggle::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 20px;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff;
}

.page-header__toggle--opened::before,
.page-header__toggle--opened::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 17px;
    width: 28px;
    height: 4px;
    box-shadow: none;
    background-color: #fff;
    border-radius: 1px;
}

.page-header__toggle--opened::before {
    transform: rotate(45deg);
}

.page-header__toggle--opened::after {
    transform: rotate(-45deg);
}